.form-register {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 2rem;
	background-color: #fafafa;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	 @include respond(phone) {
        padding: 2.5rem;
     }

	&__big-circle {
		position: absolute;
		width: 50rem;
		height: 50rem;
		border-radius: 50%;
		background: linear-gradient(to bottom, #1cd4af, #159b80);
		bottom: 50%;
		right: 50%;
		transform: translate(-40%, 38%);

		@include respond(phone) {
			bottom: 75%;
			transform: scale(0.9) translate(-40%, 30%);
			right: 50%;
		}

		@include respond(smaill-phone) {
			display: none;
		}

		&:after {
			content: "";
			position: absolute;
			width: 36rem;
			height: 36rem;
			background-color: #fafafa;
			border-radius: 50%;
			top: calc(50% - 18rem);
			left: calc(50% - 18rem);
		}
	}


	&--square {
		  position: absolute;
		  height: 40rem;
		  top: 50%;
		  left: 50%;
		  transform: translate(181%, 11%);
		  opacity: 0.2;

		  @include respond(phone) {
        		transform: translate(140%, 43%);
    			height: 350px;
      		}
	
	}
}

.form-2 {
	width: 100%;
	max-width: 82rem;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	 @include respond(phone) {
        grid-template-columns: 1fr;
      }

	&__contact-form {
		background-color: #1abc9c;
  		position: relative;

  		&:before {
  			content: "";
  			position: absolute;
  			width: 26px;
  			height: 26px;
  			background-color: #1abc9c;
  			transform: rotate(45deg);
  			top: 50px;
  			left: -13px;

  			@include respond(phone) {
  				top: -13px;
			    left: initial;
			    right: 70px;
  			}
  		}

  		& form {
  			padding: 3.6rem 3.5rem;
  			z-index: 10;
  			overflow: hidden;
  			position: relative;
  		}
		
		

  		&--input-container {
  			position: relative;
  			margin: 1.6rem 0;



  			& span {
  				position: absolute;
  				top: 0;
  				left: 25px;
  				transform: translateY(-50%);
  				font-size: 1.2rem;
  				padding: 0 0.64rem;
  				color: transparent;
  				pointer-events: none;
  				z-index: 500;

  				&:before,&:after {
  					content: "";
  					position: absolute;
  					width: 10%;
  					opacity: 0;
  					transition: 0.3s;
  					height: 5px;
  					background-color: #1abc9c;
  					top: 50%;
  					transform: translateY(-50%);
  				}

  				&:before {
  					left: 50%;
  				}

  				&:after {
  					right: 50%;
  				}
  			}

  			
  		}

		&--input {
			width: 100%;
			outline: none;
			border: 2px solid #fafafa;
			background: none;
			padding: 1.5rem 1.9rem;
			color: #fff;
			font-weight: 500;
			font-size: 1.5rem;
			letter-spacing: 0.5px;
			border-radius: 25px;
			transition: 0.3s;
			
			@include respond(tab-port) {
        		font-size: 2.5rem;
        		
      		}

      		@include respond(phone) {
        		font-size: 3rem;
        		
      		}


			&-1 {
				color: black;
			}
		}

		&--title {
			color: #FFF;
			font-weight: 500;
			font-size: 3.8rem;
			line-height: 1;
			margin-bottom: 1.1rem;
		}

		&--textarea &--input{
			padding: 1.2rem 1.9rem;
			min-height: 150px;
			border-radius: 22px;
			resize: none;
			overflow-y: auto;
		}
		
		&--input-container label {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			padding: 0 0.6rem;
			color: #fafafa;
			font-size: 1.4rem;
			font-weight: 700;
			pointer-events: none;
			z-index: 1000;
			transition: 0.5s;

			@include respond(tab-port) {
        		font-size: 2.5rem;
        		
      		}

      		@include respond(phone) {
        		font-size: 3rem;
        		
      		}
		}

		&--input-containe &--textarea label {
			top: 1.6rem;
 			transform: translateY(0);
		}

		&--btn {
			padding: 1rem 2.1rem;
			background-color: #fff;
			border: 2px solid #fafafa;
			font-size: 1.5rem;
			color: #1abc9c;
			line-height: 1;
			border-radius: 25px;
			outline: none;
			cursor: pointer;
			transition: 0.3s;
			margin: 0;

			&:hover {
				background-color: transparent;
  				color: #fff;
			}
		}
		
		


		
		
	}

	&__circle {
	  border-radius: 50%;
	  background: linear-gradient(135deg, transparent 20%, #149279);
	  position: absolute;

	  &--one {
	  	width: 130px;
	  	height: 130px;
	  	top: 130px;
	  	right: -40px
	  }

	  &--two {
	  	width: 80px;
	  	height: 80px;
	  	top: 10px;
	  	right: 30px;
	  }

	}

	&__contact-info {
		padding: 3.7rem 3.5rem;
		position: relative;

		&__title {
			color: #1abc9c;
		}

		&__title {
			font-weight: 500;
			font-size: 3.8rem;
			line-height: 1;
			margin-bottom: 1.1rem;
		}

		&__text {
			color: #333;
			margin: 2.4rem 0 3.6rem 0;
			font-size: 1.8rem;

			@include respond(tab-port) {
        		font-size: 2.5rem;
        		margin: 1rem 0 1.5rem 0;
      		}

      		@include respond(phone) {
        		font-size: 3rem;
        		margin: 1rem 0 1.5rem 0;
      		}

		}

		&__information {
			display: flex;
			color: #555;
			margin: 1.1rem 0;
			align-items: center;
			font-size: 1.5rem;

			@include respond(tab-port) {
        		font-size: 2rem;
        		margin: 1rem 0 1.5rem 0;
      		}

      		@include respond(phone) {
        		font-size: 3rem;
        		margin: 1rem 0 1.5rem 0;
      		}
		}

		&__icon {
			width: 28px;
  			margin-right: 1.1rem;
		}

		&__social-media {
		  padding: 3.6rem 0 0 0;

		  & p {
		  	color: #333;
		  }
		}

		&__social-icons {
		  display: flex;
		  margin-top: 0.8rem;

		  & a {
		  	width: 35px;
		  	height: 35px;
		  	border-radius: 5px;
		  	background: linear-gradient(45deg, #1abc9c, #149279);
		  	color: #fff;
		  	text-align: center;
		  	line-height: 35px;
		  	margin-right: 0.8rem;
		  	transition: 0.3s;
		  }

		  &:hover {
		  	transform: scale(1.05);
		  }
		}

		
		&:before {
			content: "";
			position: absolute;
			width: 110px;
			height: 100px;
			border: 22px solid #1abc9c;
			border-radius: 50%;
			bottom: -77px;
			right: 50px;
			opacity: 0.3;

			@include respond(phone) {
            	bottom: initial;
			    top: -75px;
			    right: 65px;
			    transform: scale(0.95);
            }
		}



	}


}

.form-2__contact-form--input-container.focus label{
	top: 0 !important;
	transform: translateY(-50%) !important;
	left: 25px !important;
	font-size: 1.3rem !important;
}

.form-2__contact-form--input-container.focus span:before,
.form-2__contact-form--input-container.focus span:after {
	width: 50% !important;
	opacity: 1 !important;
}